<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jagadish Sau" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta
      name="description"
      content="Promact Internship JavaScript Assignment"
    />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" type="text/css" href="create-user.css" />
    <title>User Management System - Create User</title>
  </head>
  <body>
    <div>
      <a
        href="/users"
        style="
          padding: 8px;
          background-color: #f0578a;
          border-radius: 8px;
          text-decoration: none;
        "
        >View Users</a
      >
      <form action="/add-user" method="post" class="create-form">
        <input
          type="text"
          name="firstName"
          placeholder="Enter your first name"
          required
        />
        <input
          type="text"
          name="lastName"
          placeholder="Enter your last name"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
