<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jagadish Sau" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta
      name="description"
      content="Promact Internship JavaScript Assignment"
    />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" type="text/css" href="user-list.css" />
    <title>User Management System - User List</title>
  </head>
  <body>
    <div>
      <a
        href="/create"
        style="
          padding: 8px;
          background-color: #f6e549;
          border-radius: 8px;
          text-decoration: none;
        "
        >Add User</a
      >
      <table id="user-list">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody id="user-list-data"></tbody>
      </table>
    </div>
  </body>
</html>
