@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dbbef8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
